<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <title></title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.css"/>
    <link rel="stylesheet" href="/Styles/Syte.css"/>

    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/angularjs/1.4.8/angular.js"></script>
    <script src="/webjars/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/controllers.js"></script>
</head>

<body>

<header th:fragment="header">
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Home page</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/login">Authorize</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>

        </ul>
        <div th:if="${username} != null" style="align: left;">
            <a href="/logout" title="Logout">
                <p sec:authentication="name"></p>
            </a>
        </div>
    </nav>
</header>


</body>
</html>