<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layouts/_adminLayout :: head" >
    <!-- head from layout -->
</head>
<body ng-app="AdminApp">
<header th:replace="Layouts/_layout :: header">
    <!-- header from layout -->
</header>

<br/>

<div class="list-group" style="width: 250px; margin-left: 50px; position: absolute;">
    <a type="button" href="#/addcategories" class="btn btn-default list-group-item">Add Categories Page</a>
    <a type="button" href="#/addcategory" class="btn btn-default list-group-item">Add Category</a>
    <a type="button" href="#/addsubcategory" class="btn btn-default list-group-item">Add Subcategory</a>
    <a type="button" href="#/editcategory" class="btn btn-default list-group-item">Edit Category or Subcategory</a>
    <a type="button" href="#/addproducts" class="btn btn-default list-group-item">Add Products Page</a>
    <a type="button" href="#/addproduct" class="btn btn-default list-group-item">Add Product</a>
    <a type="button" href="#/editproduct" class="btn btn-default list-group-item">Edit Product</a>
</div>

<div ng-controller="AdminController" style="margin-left: 350px;">
    <div ng-view=""></div>
</div>

</body>
</html>