<section class="well well-lg" style="width: 600px;">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                    <img src="{{product.image}}" alt="{{product.name}}"/>
                <div class="caption">
                    <h2 style="margin-left: 150px; font-style: italic">{{product.name}}</h2>
                    <div ng-repeat="info in product.productInfos" style="margin-left: 30px; font-family: Consolas; font-size: 17px;">
                        <span style="font-weight: bold;">{{info.title}}:</span>
                        <span>{{info.description}}</span>
                    </div>
                    <br/>
                    <div class="text-field">
                        {{product.description}}
                    </div>
                    <br/>
                    <p style="margin-left: 90px;">
                        <a href="/" class="btn btn-primary" role="button">Go back</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

        <!--<img src="{{product.image}}" style="width: 150px; height: 150px;"/>-->
        <!--<span style="font-weight: bold;">{{product.name}}</span>-->
        <!--<div ng-repeat="info in product.productInfos" style="margin-left: 20px; font-family: Consolas; font-size: 10px;">-->
            <!--<span style="font-weight: bold;">{{info.title}}:</span>-->
            <!--<span>{{info.description}}</span>-->
        <!--</div>-->
        <!--<div >-->
            <!--<span>{{product.description}}</span>-->
        <!--</div>-->
</section>